<script lang="ts" >
import { Component, Vue } from 'vue-property-decorator';
import marvelCharactersCartService from './marvel-characters-cart.service';
import MarvelCharacterCartDto from './dto/marvel-character-cart.dto';
import usersService from '../users/users.service';

const USER_ID_TEST = 1;

@Component
export default class MarvelCharactersCart extends Vue {
  marvelCharactersCartService = marvelCharactersCartService;

  marvelCharactersCart: MarvelCharacterCartDto[] = [];

  rules = {
    number: (value: string) => {
      const pattern = RegExp('^[1-9][0-9]*$');
      return pattern.test(value) || 'Invalid quantity';
    },
  };

  /**
   * Method execute when the quantity text field Change
   */
  async onChangeMarvelCharacterCartQuantity(
    marvelCharacterCartId: number,
    marvelCharacterCarName: string,
    quantity: number,
  ) {
    if (usersService.userIsLogin()) {
      this.marvelCharactersCartService.updateCharacterQuantityInCart(
        marvelCharacterCartId, quantity,
      );
    } else {
      this.marvelCharactersCartService.updateCharacterQuantityInCartFromLocalStorage(
        marvelCharacterCarName, quantity,
      );
    }
  }

  /**
   * Method execute when click Remove button
   */
  async onClickRemoveMarvelCharacterCart(
    marvelCharacterCartId: number,
    marvelCharacterCarName: string,
  ) {
    if (usersService.userIsLogin()) {
      await this.marvelCharactersCartService.deleteCharacterInCart(marvelCharacterCartId);
      const newMarvelCharacters = [...this.marvelCharactersCart];
      this.marvelCharactersCart = newMarvelCharacters.filter(
        (marvelCharacter) => marvelCharacter.id !== marvelCharacterCartId,
      );
    } else {
      this.marvelCharactersCart = await this.marvelCharactersCartService
        .deleteCharacterInCartToLocalStorage(marvelCharacterCarName);
    }
  }

  async mounted() {
    let marvelCharactersCartPlainObjects: any;
    if (!usersService.userIsLogin()) {
      marvelCharactersCartPlainObjects = marvelCharactersCartService
        .getMarvelCharactersCartFromLocalStorage();
    } else {
      marvelCharactersCartPlainObjects = (await marvelCharactersCartService
        .getMarvelCharactersCartByUserId(
          usersService.getUserFromLocalStorage().userId,
        )).data;
    }

    this.marvelCharactersCart = marvelCharactersCartPlainObjects;
  }
}
</script>

<style scoped src="./marvel-characters-cart.css"></style>
<template src="./marvel-characters-cart.html"></template>
