<div class="page-container">
    <v-simple-table>
        <template v-slot:default>
            <thead>
                <tr>
                    <th class="text-left">Character</th>
                    <th class="text-left">Description</th>
                    <th class="text-left">Cantidad</th>
                    <th class="text-left"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="marvelCharacterCart in marvelCharactersCart" :key="marvelCharacterCart.id">
                    <td>
                        <v-avatar>
                            <img :src=marvelCharacterCart.marvelCharacterImageUrl alt="John">
                        </v-avatar>
                        <div class="marvel-character-name">
                            {{ marvelCharacterCart.marvelCharacterName }}
                        </div>
                    </td>
                    <td>{{ marvelCharacterCart.marvelCharacterDescription }}</td>
                    <td>
                        <v-text-field
                            @change="onChangeMarvelCharacterCartQuantity(marvelCharacterCart.id, marvelCharacterCart.marvelCharacterName, marvelCharacterCart.quantity)"
                            type="number" v-model="marvelCharacterCart.quantity" :rules="[rules.number]">
                        </v-text-field>
                    </td>
                    <td>
                        <v-btn text color="error" @click="onClickRemoveMarvelCharacterCart(marvelCharacterCart.id, marvelCharacterCart.marvelCharacterName)">
                            Remove</v-btn>
                    </td>
                </tr>
            </tbody>
        </template>
    </v-simple-table>
</div>