<v-card class="mx-auto" max-width="400">
  <v-img class="white--text align-end" height="200px" :lazy-src=marvelCharacter.imageUrl :src=marvelCharacter.imageUrl
    aspect-ratio="1">
    <v-card-title class="marvel-character-name">{{ marvelCharacter.name }}</v-card-title>
  </v-img>
  <v-card-subtitle class="pb-0">Description</v-card-subtitle>

  <v-card-text>
    <div class="marvel-character-description">{{ marvelCharacter.characterDescription }}</div>
  </v-card-text>

  <v-card-actions class="card-actions-container">
    <v-btn color="primary" textn @click="onClickAddToCartButton">
      Add to cart
      <v-icon right>mdi-cart</v-icon>
    </v-btn>
  </v-card-actions>
  <v-snackbar v-model="snackbar">
    {{ snackbarText }}
    <v-btn color="pink" text @click="snackbar = false">
      Close
    </v-btn>
  </v-snackbar>
</v-card>