<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import MarvelCharacterDto from '../../dto/marvel_character.dto';
import marvelCharactersService from '../../marvel-characters.service';
import usersService from '../../../users/users.service';
import AddCharacterToCartDto from '../../dto/add-character-to-cart.dto';

@Component
export default class MarvelCharacterItem extends Vue {
  @Prop()
  marvelCharacter: MarvelCharacterDto;

  snackbar = false;

  snackbarText = '';

  async onClickAddToCartButton() {
    const addCharacterToCartDto: AddCharacterToCartDto = {
      marvelCharacterId: this.marvelCharacter.id,
      marvelCharacterName: this.marvelCharacter.name,
      marvelCharacterDescription: this.marvelCharacter.characterDescription,
      marvelCharacterImageUrl: this.marvelCharacter.imageUrl,
    };

    this.snackbarText = `Character ${this.marvelCharacter.name} added to cart`;
    if (!usersService.userIsLogin()) {
      marvelCharactersService.addCharacterToCartToLocalStorage(addCharacterToCartDto);
    } else {
      await marvelCharactersService.addCharacterToCart(
        usersService.getUserFromLocalStorage().userId,
        addCharacterToCartDto,
      );
    }
    this.snackbar = true;
  }
}
</script>

<style scoped src="./marvel-character-item.css"></style>
<template src="./marvel-character-item.html"></template>
