.marvel-character-name {
    background-color: rgba(0, 0, 0, 0.75);
}
.marvel-character-description {
    height: 150px;
    text-overflow: ellipsis;
}

.card-actions-container {
    justify-content: flex-end;
}