<div>
    <v-app-bar color="primary" fixed>
        <v-toolbar-title>Bienvenido {{username}}</v-toolbar-title>
        <v-spacer></v-spacer>
        <div class="shopping-cart-container">
            <v-btn color="primary" @click="onClickCartIconButton" class="cart-icon-button">
                <v-icon>mdi-cart</v-icon> cart
            </v-btn>
            <v-btn v-if="!userLogin || !username || !userLogin" color="primary" @click="onClickLoginIconButton" class="cart-icon-button">
                <v-icon>mdi-login</v-icon> login
            </v-btn>
            <v-btn v-else="userLogin || username" color="primary" @click="onClickLogoutIconButton" class="cart-icon-button">
                <v-icon>mdi-logout</v-icon> logout
            </v-btn>
        </div>
    </v-app-bar>

    <v-row justify="center">
        <v-dialog v-model="dialog" persistent max-width="290">
            <v-card>
                <v-card-title class="headline">Login</v-card-title>
                <v-card-text>
                    <v-text-field label="Username" v-model="usernameTextField"></v-text-field>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" text @click="onClickAcceptLoginDialog">Login</v-btn>
                    <v-btn color="error" text @click="onClickCancelLoginDialog">Cancel</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</div>