<script lang="ts" >
import { Component, Vue } from 'vue-property-decorator';
import localStorageService from '@/app/utils/local-storage.service';
import topBarService from './top-bar.service';
import { MARVEL_CHARACTERS_CART_KEY } from '../../modules/marvel-characters/marvel-characters.constants';
import USER_KEY from '../../modules/users/users.constants';

@Component
export default class TopBar extends Vue {
  localStorageService = localStorageService;

  dialog = false;

  username = '';

  usernameTextField = '';

  userLogin = false;

  onClickCartIconButton() {
    this.$router.push('marvel-characters-cart');
  }

  onClickLoginIconButton() {
    this.dialog = true;
  }

  onClickLogoutIconButton() {
    this.userLogin = false;
    this.localStorageService.set('user', null);
    this.username = '';
  }

  onClickCancelLoginDialog() {
    this.dialog = false;
  }

  mounted() {
    this.username = localStorageService.get(USER_KEY).username;
    if (this.username) {
      this.userLogin = true;
    }
  }

  async onClickAcceptLoginDialog() {
    const userLoged = (await topBarService.userLogin(this.usernameTextField))
      .data;
    localStorageService.set('user', {
      username: userLoged.name,
      userId: userLoged.id,
    });
    this.username = userLoged.name;
    topBarService.addCharactersToCart(
      userLoged.id,
      localStorageService.get(MARVEL_CHARACTERS_CART_KEY),
    );

    localStorageService.set(MARVEL_CHARACTERS_CART_KEY, []);
    this.dialog = false;
    this.userLogin = true;
  }
}
</script>

<style scoped src="./top-bar.css"></style>
<template src="./top-bar.html"></template>
