<script lang="ts" >
import { Component, Vue } from 'vue-property-decorator';
import TopBar from './components/top-bar/top-bar.vue';

@Component({
  components: {
    TopBar,
  },
})
export default class App extends Vue {}
</script>

<template src="./app.html"></template>
<style src="./app.css"></style>
