<script lang="ts" >
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class MarvelCharactersPagination extends Vue {
  page = 1;

  onChangePage(numberOfPage: number) {
    const offset = (numberOfPage - 1) * 100;
    this.$emit('changeOffset', offset);
  }
}
</script>

<style scoped src="./marvel-characters-pagination.css">
</style>
<template src="./marvel-characters-pagination.html"></template>
