<script lang="ts" >
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class LoginDialog extends Vue {
}
</script>

<style scoped src="./login-dialog.css"></style>
<template src="./login-dialog.html"></template>
