<script lang="ts" >
import { Component, Vue } from 'vue-property-decorator';
import { plainToClass } from 'class-transformer';
import localStorageService from '@/app/utils/local-storage.service';
import MarvelCharactersList from './components/marvel-characters-list/marvel-characters-list.vue';
import MarvelCharactersLoading from './components/marvel-characters-loading/marvel-characters-loading.vue';
import MarvelCharactersPagination from './components/marvel-characters-pagination/marvel-characters-pagination.vue';
import MarvelCharacterDto from './dto/marvel_character.dto';
import marvelCharactersService from './marvel-characters.service';

@Component({
  components: {
    MarvelCharactersList,
    MarvelCharactersLoading,
    MarvelCharactersPagination,
  },
})
export default class MarvelCharacters extends Vue {
  loadingPage = false;

  offset = 0;

  marvelCharacters: MarvelCharacterDto[] = [];

  onChangePage(offset: number) {
    this.offset = offset;
    this.fetchMarvelCharactersFromApi();
  }

  async mounted() {
    this.fetchMarvelCharactersFromApi();
  }

  async fetchMarvelCharactersFromApi() {
    this.loadingPage = true;
    const responseMarvelApi = await marvelCharactersService.getMarvelCharacters(this.offset);
    const marvelCharactersPlainObjects: object[] = responseMarvelApi.data.data.results;
    this.marvelCharacters = plainToClass(MarvelCharacterDto, marvelCharactersPlainObjects);
    this.loadingPage = false;
  }
}
</script>

<style scoped src="./marvel-characters.css"></style>
<template src="./marvel-characters.html"></template>
