<div class="page-container">
    <div v-if="loadingPage">
        <marvel-characters-loading></marvel-characters-loading>
    </div>
    <div v-if="!loadingPage">
        <marvel-characters-list :marvelCharacters="marvelCharacters"></marvel-characters-list>
    </div>
    <marvel-characters-pagination @changeOffset="onChangePage">
    </marvel-characters-pagination>
</div>