<script lang="ts" >
import { Component, Vue, Prop } from 'vue-property-decorator';
import MarvelCharacterDto from '../../dto/marvel_character.dto';
import MarvelCharacterItem from '../marvel-character-item/marvel-character-item.vue';

@Component({
  components: {
    MarvelCharacterItem,
  },
})
export default class MarvelCharacters extends Vue {
  @Prop() marvelCharacters: MarvelCharacterDto[];
}
</script>

<style scoped src="./marvel-characters-list.css" > </style>
<template src="./marvel-characters-list.html" > </template>
