<script lang="ts" >
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class MarvelCharactersLoading extends Vue {}
</script>

<style scoped src="./marvel-characters-loading.css"> </style>
<template src="./marvel-characters-loading.html"> </template>
