<div class="marvel-characters-list-container">
  <div v-for="n in 12" :key="n">
    <v-sheet class="px-3 pt-3 pb-3">
      <v-skeleton-loader class="mx-auto" max-width="400" type="card"></v-skeleton-loader>
    </v-sheet>
  </div>
</div>